.fb-50{
  flex-basis: 45%;
}
.fb-33{
  flex-basis: 33.33333%;
}
.fb-25{
  flex-basis: 25%;
}
.card-style{
 max-width: 240px;
  height: auto;
  margin: 8px;
}
a{
  text-decoration: none;
  color: black;
}